h2 
{
    font-size: 15;
    font-family: 'Times New Roman', Times, serif;
    color: #f7f7f7;
    text-align: center;
    background-color: rgb(173, 34, 237);
}
h3
{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    text-align: left;
    background-color: azure;
}